<!--<div>-->
<!--  <auth-form-->
<!--    (submitted)="createUser($event)">-->
<!--    <h3>Create account</h3>-->
<!--    <button type="submit">-->
<!--      Join us-->
<!--    </button>-->
<!--  </auth-form>-->
<!--  <auth-form-->
<!--    (submitted)="loginUser($event)">-->
<!--    <h3>Login</h3>-->
<!--    <auth-remember-->
<!--      (checked)="rememberUser($event)">-->
<!--    </auth-remember>-->
<!--    <button type="submit">-->
<!--      Login-->
<!--    </button>-->
<!--  </auth-form>-->
<!--</div>-->
<!--<div>-->
<!--  <button (click)="moveComponent()">Move</button>-->
<!--  <div #entry></div>-->
<!--  <button (click)="destroyComponent()">Destroy</button>-->
<!--</div>-->
<!--<div>-->
<!--  <ng-container-->
<!--    [ngTemplateOutlet]="tmpl"-->
<!--    [ngTemplateOutletContext]="{$implicit: 'Ricky Nelson', location: 'CA'}"-->
<!--  ></ng-container>-->
<!--</div>-->
<!--<ng-template #tmpl let-name let-location="location">-->
<!--  My name is: {{name}}<br/>-->
<!--  My location is: {{location}}-->
<!--</ng-template>-->
<app-credit-card-form></app-credit-card-form>


